*{
  font-family: sans-serif;
  
}

body {
  color: brown;
  background: antiquewhite;
  margin: auto;
  width: 600px;
  grid-template-rows: 200px 1fr 100px;
}

ul{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  
}

.project-grid{
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 8px;
 
}

.project{
  border-block: 1px solid #999;
  border-radius: 8px;
  padding: 8px;
  background: whitesmoke;
}

a{
  text-decoration: none;
  color: #0079b4;
  
}

header{
  align-self: center;
  justify-self: center;
}